
<h3 class="mb-6">Resultat för "<%= @poll.name %>"</h3>
<table class="min-w-full divide-y divide-sand-200 text-xs">
  <thead>
    <tr>
      <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left uppercase text-sand-500 bg-sand-50">
        Val
      </th>
      <th>
        Antal svar
      </th>
      <th>
        Procent
      </th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-sand-200">
    <% @poll_questions.each do |question| %>
      <tr>
        <td class="px-6 py-4 whitespace-no-wrap">
          <%= question.choice %>
        </td>
        <td class="px-6 py-4 whitespace-no-wrap">
          <%= question.poll_answers_count %>
        </td>
        <td class="px-6 py-4 whitespace-no-wrap">
          <% if question.poll_answers_count > 0 %>
            <%= ((question.poll_answers_count.to_f  / @poll_answers.size.to_f) * 100).round %> %
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
