<div class="flex justify-center">
  <% users.each_with_index do |user, index| %>
    <%= link_to user_path(user), class: "flex justify-center items-center mr-1" do %>
      <% if user.avatar.attached? %>
        <%= image_tag user.avatar, class: "mini-avatar" %>
      <% else %>
        <%= image_tag "fallback/avatar-thumb-default.png", class: "mini-avatar" %>
      <% end %>
    <% end %>
  <% end %>
  <% if extra %>
    <span class="flex items-center justify-center font-semibold text-xs text-golfsnack-200 w-8 h-8 bg-wetsand-700 mini-avatar">+<%=extra%></span>
  <% end %>
</div>
