<div class="flex overflow-hidden">
  <% users.each_with_index do |user, index| %>
    <%= link_to user_path(user) do %>
      <% class_string = "inline-block w-10 h-10 #{index > 0 ? "-ml-2" : ""} rounded-full" %>
      <% if user.avatar.attached? %>
        <%= image_tag user.avatar, class: class_string %>
      <% else %>
        <%= image_tag "fallback/avatar-thumb-default.png", size: "40x40", class: class_string %>
      <% end %>
    <% end %>
  <% end %>
</div>
