<h2 class="my-12 pb-4 mb-4 font-bold border-b text-golfsnack-800 border-sand-200">Guider</h2>
<div class="grid max-w-lg gap-5 mx-auto mt-12 md:grid-cols-2 lg:grid-cols-3 md:max-w-none">
  <% @latest_guides.each do |guide| %>
    <div class="flex flex-col overflow-hidden">
      <div class="relative flex-shrink-0">
        <%= image_tag guide.image.variant(resize_to_fill: [1024, 726], gravity: 'center'), class: "object-cover w-full" %>
      </div>
      <div class="flex flex-col justify-between flex-1">
        <div class="flex flex-col justify-between flex-1 p-6 bg-white">
          <div>
            <%= link_to guide.title, guide_path(guide), class: "block text-xl font-semibold leading-7"%>
            <p class="mt-3 text-base leading-6"><%= truncate(strip_tags(guide.body.to_s), length: 300) %></p>
            <%= link_to "Läs guiden »", guide_path(guide), class: "leading-7" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
