<section class="container px-4 py-24 mx-auto">
  <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4">
    <div class="col-span-1 md:col-span-2 lg:col-span-2 xl:col-span-2 card">
      <a href="#">
        <img src="https://images.unsplash.com/photo-1433800881591-a31e7bff3f22?ixlib=rb-1.2.1&auto=format&fit=crop&w=1200&h=400&q=60" class="object-cover w-full h-64 mb-5 bg-center rounded " alt="Kutty" loading="lazy" />
      </a>
      <h2 class="mb-2 text-lg font-semibold text-gray-900">
        <a href="#" class="text-gray-900 hover:text-purple-700">Process Documents Using Artificial Intelligence For RPA Bots</a>
      </h2>
      <p class="mb-3 text-sm font-normal text-gray-600">
        Earlier RPA bots used to have some limitations like it would take structured data for processing from excel, database, on these data. But with advancements in technology
        like OCR (Optical Character Recognition) and Machine Learning, RPA bots are capable of extracting these data …
      </p>
      <p class="mb-3 text-sm font-normal text-gray-600"><a href="#" class="font-medium text-gray-900 hover:text-purple-700">Praveen Juge</a> • April 16, 2020</p>
    </div>
    <div clas="col-span-1">
      <div>
        <a href="#">
          <img src="https://images.unsplash.com/photo-1593111774240-d529f12cf4bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=200&q=80" class="object-cover w-full mb-5 bg-center h-30" alt="Kutty" loading="lazy" />
        </a>
        <h2 class="mb-2 text-lg font-semibold text-gray-900">
          <a href="#" class="text-gray-900 hover:text-purple-700">Title goes here?</a>
        </h2>
        <p class="mb-3 text-sm font-normal text-gray-600"><a href="#" class="font-medium text-gray-900 hover:text-purple-700">Praveen Juge</a> • April 16, 2020</p>
      </div>
      <div>
        <a href="#">
          <img src="https://images.unsplash.com/photo-1593540100763-8d9459c28a3b?ixlib=rb-1.2.1&auto=format&fit=crop&w=400&h=200&q=80" class="object-cover w-full mb-5 bg-center h-30" alt="Kutty" loading="lazy" />
        </a>
        <h2 class="mb-2 text-lg font-semibold text-gray-900">
          <a href="#" class="text-gray-900 hover:text-purple-700">And another title?</a>
        </h2>
        <p class="mb-3 text-sm font-normal text-gray-600"><a href="#" class="font-medium text-gray-900 hover:text-purple-700">Praveen Juge</a> • April 16, 2020</p>
      </div>
    </div>
    <div clas="col-span-1">
      <%= render partial: 'stats' %>
    </div>
  </div>
</section>
