<div class="relative p-4 bg-white border rounded border-wetsand-300">
  <h3 class="absolute left-0 block arrow-title top-2">OMRÖSTNING</h3>
  <h4 class="block w-full px-4 py-4 mt-12 text-lg text-center border-t border-b border-wetsand-300 text-golfsnack-500">VAD ÄR VIKTIGAST NÄR DU SPELAR EN NY BANA</h4>
  <ul class="poll">
    <li>
      <label>
        <input type="radio" id="korv" name="vote" value="korv" />
        GOD KORV EFTER NIAN
      </label>
    </li>
    <li>
      <label>
        <input type="radio" id="banan" name="vote" value="banan" />
        BANAN ÄR I YPPERSTA SKICK
      </label>
    </li>
    <li>
      <label>
        <input type="radio" id="greenfee" name="vote" value="greenfee" />
        BILLIG GREENFEE
      </label>
    </li>
    <li>
      <label>
        <input type="radio" id="greenfee2" name="vote" value="greenfee2" />
        DYR GREENFEE
      </label>
    </li>
    <li>
      <label>
        <input type="radio" id="isberg" name="vote" value="isberg" />
        ATT VINNA ÖVER NIKLAS ISBERG
      </label>
    </li>
  </ul>
  <button class="block w-full py-4 my-4 font-bold text-center text-white bg-yellow-400 hover:bg-yellow-600">RÖSTA</button>
</div>
