<%= render partial: 'articles' %>
<div class="pt-6 mt-6 border-t border-fairway-200">
  <div class="grid grid-cols-12 gap-6">
    <div class="col-span-8">
      <%= render partial: 'posts' %>
    </div>
    <div class="col-span-4">
      <h4 class="text-golfsnack-400">KÖP & SÄLJ</h4>
      <div class="w-full h-64 mb-6 opacity-25 bg-golfsnack-200"></div>
      <h4 class="text-golfsnack-400">SENASTE SPELADE BANA</h4>
      <div class="w-full h-64 mb-6 opacity-25 bg-golfsnack-200"></div>
    </div>
  </div>
</div>
