:root {
  --golfsnack-50: "#F6F6F4";
  --golfsnack-100: "#ECEDE8";
  --golfsnack-200: "#D0D2C6";
  --golfsnack-300: "#B3B6A4";
  --golfsnack-400: "#7A8060";
  --golfsnack-500: "#41491C";
  --golfsnack-600: "#3B4219";
  --golfsnack-700: "#272C11";
  --golfsnack-800: "#1D210D";
  --golfsnack-900: "#141608";
  --rough-50: "#F8F9F3";
  --rough-100: "#F2F2E7";
  --rough-200: "#DEE0C3";
  --rough-300: "#C9CD9F";
  --rough-400: "#A1A758";
  --rough-500: "#798110";
  --rough-600: "#6D740E";
  --rough-700: "#494D0A";
  --rough-800: "#363A07";
  --rough-900: "#242705";
  --fairway-50: "#FCFCF9";
  --fairway-100: "#F8F9F4";
  --fairway-200: "#EEEFE3";
  --fairway-300: "#E4E5D2";
  --fairway-400: "#CFD2B0";
  --fairway-500: "#BBBF8E";
  --fairway-600: "#A8AC80";
  --fairway-700: "#707355";
  --fairway-800: "#545640";
  --fairway-900: "#38392B";
  --sand-50: "#FDFCF9";
  --sand-100: "#FBF9F3";
  --sand-200: "#F6F1E2";
  --sand-300: "#F0E8D0";
  --sand-400: "#E5D7AC";
  --sand-500: "#DAC689";
  --sand-600: "#C4B27B";
  --sand-700: "#837752";
  --sand-800: "#62593E";
  --sand-900: "#413B29";
  --wetsand-50: "#FBF9F5";
  --wetsand-100: "#F7F4EB";
  --wetsand-200: "#ECE3CE";
  --wetsand-300: "#E1D2B0";
  --wetsand-400: "#CAB075";
  --wetsand-500: "#B38E3A";
  --wetsand-600: "#A18034";
  --wetsand-700: "#6B5523";
  --wetsand-800: "#51401A";
  --wetsand-900: "#362B11";
  --blue-50: "#F6F8FA";
  --blue-100: "#EDF2F5";
  --blue-200: "#D2DEE6";
  --blue-300: "#B7CAD7";
  --blue-400: "#81A2BA";
  --blue-500: "#4B7A9C";
  --blue-600: "#446E8C";
  --blue-700: "#2D495E";
  --blue-800: "#223746";
  --blue-900: "#17252F";
  --yellow-50: "#FEFCF2";
  --yellow-100: "#FCF9E6";
  --yellow-200: "#F8EFBF";
  --yellow-300: "#F4E599";
  --yellow-400: "#EBD24D";
  --yellow-500: "#E3BE00";
  --yellow-600: "#CCAB00";
  --yellow-700: "#887200";
  --yellow-800: "#665600";
  --yellow-900: "#443900";
  --red-50: "#F9F4F3";
  --red-100: "#F4E8E8";
  --red-200: "#E3C6C4";
  --red-300: "#D1A3A1";
  --red-400: "#AF5F5B";
  --red-500: "#8D1A14";
  --red-600: "#7F1712";
  --red-700: "#55100C";
  --red-800: "#3F0C09";
  --red-900: "#2A0806";
}
