
/*! purgecss start ignore */
@import "colors";
/*! purgecss end ignore */

body.private {
  background: url("../../assets/images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;

  form h2 {
    @apply font-bold uppercase mb-4 pb-4 border-b border-golfsnack-200;
  }

  .input {
    @apply py-2 grid sm:grid-cols-3;

    label {
      @apply font-semibold sm:col-span-1 py-2;
    }

    input:not([type='checkbox']){
      @apply col-span-2 p-2 border border-golfsnack-700;
    }

    div {
      @apply sm:col-span-2 flex flex-col;
      input {
        @apply w-full
      }
      .hint {
        @apply text-rough-600 text-sm;
      }

      &.checkbox {
        @apply sm:col-start-2 flex-row;
        input { @apply w-auto mt-1 }
        label {
          @apply py-0;
        }
      }
    }
  }

  input[type='submit'] {
    @apply mt-4 px-6 py-2 font-bold text-white bg-rough-600 block w-full float-right sm:w-auto;
    &:hover {
      @apply bg-rough-800;
    }
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold font-mono tracking-tighter;
  }

  h1 {
    @apply text-4xl font-extrabold;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  a {
    @apply underline text-blue-800;
  }
}

@layer components {
  .navlink {
    @apply px-4 py-2 ml-2 text-sm font-bold transition duration-150 ease-in-out text-sand-200 no-underline;

    &:hover,
    &:focus,
    &:active,
    &.active {
      @apply text-white underline outline-none;
    }
  }

  .profilelink {
    @apply block px-4 py-2 text-sm  transition duration-150 ease-in-out text-sand-700 no-underline;

    &:hover,
    &:focus {
      @apply  text-golfsnack-800 outline-none underline;
    }

    &.active,
    &:active {
      @apply bg-sand-200 outline-none text-golfsnack-800;
    }
  }

  .mobilenavlink {
    @apply block px-3 py-2 mt-1 text-base font-medium transition duration-150 ease-in-out text-sand-300 no-underline;

    &:hover,
    &:focus,
    &:active,
    &.active {
      @apply text-white outline-none underline;
    }
  }

  #header {
    background: url("../../assets/images/bg2.jpg") no-repeat center center;
    background-size: cover;
    text-align: center;
    width: 100%;
  }

  .subtitle {
    display: none;
  }

  .home #header {
    height: 520px;
    .subtitle {
      display: flex;
    }
  }

  .text-columns {
    column-count: 2;
    column-gap: 1rem;

    a {
      column-span: all;
    }
  }

  .carousel > div:not(:first-child) {
    display: none;
  }

  .big-avatar {
    height: 180px;
    width: 140px;
    clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    border-width: 2px;
    border-color: #ccc;
    object-fit: cover;
  }

  .avatar {
    height: 120px;
    width: 100px;
    clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    border-width: 2px;
    border-color: #ccc;
    margin-top: -30px;
    object-fit: cover;
  }

  .small-avatar {
    height: 50px;
    width: 40px;
    clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    object-fit: cover;
  }


  .mini-avatar {
    height: 30px;
    width: 20px;
    clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    object-fit: cover;
  }


  .arrow-title {
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
    @apply bg-yellow-400 py-2 px-8 pr-12 text-white;
  }

  .poll {
    li {
      @apply  border-b py-4 border-wetsand-300 w-full inline-block;
      @apply text-sm font-normal text-golfsnack-500;

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  .reportage {
    @apply text-white bg-rough-500;
    &:hover {
      @apply bg-rough-800;
    }
  }
  .utrustning {
    @apply text-white bg-red-600;
    &:hover {
      @apply bg-red-800;
    }
  }
  .nyheter {
    @apply text-white bg-blue-600;
    &:hover {
      @apply bg-blue-800;
    }
  }
  .banbesok {
    @apply text-white bg-yellow-600;
    &:hover {
      @apply bg-yellow-800;
    }
  }

  // Definition Lists
  dl {
    @apply my-4 list-inside text-sm;
    dt {
      @apply font-semibold float-left pr-2;
    }
  }
}

a[target="_blank"]:after {
  content: "↗️";
  @apply text-white;
}

/*! purgecss start ignore */
@import "articles";
/*! purgecss end ignore */

@import "stories";
