body.private {
  background: url("../../assets/images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;

  form h2 {
    @apply font-bold uppercase mb-4 pb-4 border-b border-golfsnack-200;
  }

  .input {
    @apply py-2 grid sm:grid-cols-3;

    label {
      @apply font-semibold sm:col-span-1 py-2;
    }

    input:not([type='checkbox']){
      @apply col-span-2 p-2 border border-golfsnack-700;
    }

    div {
      @apply sm:col-span-2 flex flex-col;
      input {
        @apply w-full
      }
      .hint {
        @apply text-rough-600 text-sm;
      }

      &.checkbox {
        @apply sm:col-start-2 flex-row;
        input { @apply w-auto mt-1 }
        label {
          @apply py-0;
        }
      }
    }
  }

  input[type='submit'] {
    @apply mt-4 px-6 py-2 font-bold text-white bg-rough-600 block w-full float-right sm:w-auto;
    &:hover {
      @apply bg-rough-800;
    }
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold font-mono tracking-tighter;
  }

  h1 {
    @apply text-4xl font-extrabold;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  a {
    @apply underline text-blue-800;
  }
}

@layer components {
  .navlink {
    @apply px-4 py-2 ml-2 text-sm font-medium transition duration-150 ease-in-out text-sand-100 no-underline;

    &:hover,
    &:focus,
    &:active,
    &.active {
      @apply text-white bg-sand-500 outline-none;
    }
  }

  .profilelink {
    @apply block px-4 py-2 text-sm  transition duration-150 ease-in-out text-sand-700 no-underline;

    &:hover,
    &:focus {
      @apply bg-sand-100 text-golfsnack-800 outline-none;
    }

    &.active,
    &:active {
      @apply bg-sand-200 outline-none text-golfsnack-800;
    }
  }

  .mobilenavlink {
    @apply block px-3 py-2 mt-1 text-base font-medium transition duration-150 ease-in-out text-sand-300 no-underline;

    &:hover,
    &:focus,
    &:active,
    &.active {
      @apply text-white bg-sand-500 outline-none;
    }
  }
}

a[target="_blank"]:after {
  content: "↗️";
  @apply text-white;
}

/*! purgecss start ignore */
@import "articles";
/*! purgecss end ignore */

@import "stories";
