<div class="flex pb-12">
  <h2>Kategorier</h2>
  <%= link_to "Ny kategori", new_admin_category_path, class: "flex-0 ml-auto px-4 py-2 text-sm font-medium leading-5 text-sand-700 transition duration-150 ease-in-out bg-white border border-sand-300 hover:text-sand-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:text-sand-800 active:bg-sand-50"%>
</div>
<div class="overflow-hidden border-b shadow border-sand-200">
  <table class="min-w-full divide-y divide-sand-200">
    <thead>
      <tr>
        <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left uppercase bg-sand-50">
          Namn
        </th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-sand-200 text-xs">
      <% @categories.each do |cat| %>
        <tr>
          <td class="px-6 py-4 whitespace-no-wrap">
            <%= cat.name %>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap">
            <%= link_to "Redigera", edit_admin_category_path(cat) %>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap">
            <% if cat.articles_count == 0%>
              <%= link_to "Radera", admin_category_path(cat), method: :delete, data: { confirm: "Säker?" } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
