:root {
  --golfsnack-50: #f6f6f4;
  --golfsnack-100: #ecede8;
  --golfsnack-200: #d0d2c6;
  --golfsnack-300: #b3b6a4;
  --golfsnack-400: #7a8060;
  --golfsnack-500: #41491c;
  --golfsnack-600: #3b4219;
  --golfsnack-700: #272c11;
  --golfsnack-800: #1d210d;
  --golfsnack-900: #141608;
  --rough-50: #f8f9f3;
  --rough-100: #f2f2e7;
  --rough-200: #dee0c3;
  --rough-300: #c9cd9f;
  --rough-400: #a1a758;
  --rough-500: #798110;
  --rough-600: #6d740e;
  --rough-700: #494d0a;
  --rough-800: #363a07;
  --rough-900: #242705;
  --fairway-50: #fcfcf9;
  --fairway-100: #f8f9f4;
  --fairway-200: #eeefe3;
  --fairway-300: #e4e5d2;
  --fairway-400: #cfd2b0;
  --fairway-500: #bbbf8e;
  --fairway-600: #a8ac80;
  --fairway-700: #707355;
  --fairway-800: #545640;
  --fairway-900: #38392b;
  --sand-50: #fdfcf9;
  --sand-100: #fbf9f3;
  --sand-200: #f6f1e2;
  --sand-300: #f0e8d0;
  --sand-400: #e5d7ac;
  --sand-500: #dac689;
  --sand-600: #c4b27b;
  --sand-700: #837752;
  --sand-800: #62593e;
  --sand-900: #413b29;
  --wetsand-50: #fbf9f5;
  --wetsand-100: #f7f4eb;
  --wetsand-200: #ece3ce;
  --wetsand-300: #e1d2b0;
  --wetsand-400: #cab075;
  --wetsand-500: #b38e3a;
  --wetsand-600: #a18034;
  --wetsand-700: #6b5523;
  --wetsand-800: #51401a;
  --wetsand-900: #362b11;
  --blue-50: #f6f8fa;
  --blue-100: #edf2f5;
  --blue-200: #d2dee6;
  --blue-300: #b7cad7;
  --blue-400: #81a2ba;
  --blue-500: #4b7a9c;
  --blue-600: #446e8c;
  --blue-700: #2d495e;
  --blue-800: #223746;
  --blue-900: #17252f;
  --yellow-50: #fefcf2;
  --yellow-100: #fcf9e6;
  --yellow-200: #f8efbf;
  --yellow-300: #f4e599;
  --yellow-400: #ebd24d;
  --yellow-500: #e3be00;
  --yellow-600: #ccab00;
  --yellow-700: #887200;
  --yellow-800: #665600;
  --yellow-900: #443900;
  --red-50: #f9f4f3;
  --red-100: #f4e8e8;
  --red-200: #e3c6c4;
  --red-300: #d1a3a1;
  --red-400: #af5f5b;
  --red-500: #8d1a14;
  --red-600: #7f1712;
  --red-700: #55100c;
  --red-800: #3f0c09;
  --red-900: #2a0806;
}
