.stories {
  .story {
    display: block;
    padding: 2rem;
    border-radius: 0.25rem;
    background: var(--wetsand-100);
    margin-bottom: 2rem;
    position: relative;
  }

  .story__top {
    display: flex;
    margin-bottom: 0.5rem;
  }

  .story__avatar {
    width: 3rem;
  }

  .story__meta {
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--wetsand-600);

    a {
      color: var(--wetsand-700);
      font-weight: 700;
    }
  }

  .story__body {
    padding-left: 3rem;

    .story__body__body {
      width: 100%;
      font-size: 0.875rem;
      line-height: 1.25rem;
      border-top: 1px solid var(--wetsand-600);
      border-bottom: 1px solid var(--wetsand-600);
      padding: 0.5rem 0;

      h3 {
        line-height: 1;
      }

      figure {
        min-width: 100%;
        max-width: 100%;
        margin: 0.5rem 0;
        figcaption {
          display: none;
        }
      }
    }
  }

  .story__footer {
    display: flex;
    padding-top: 1rem;
    padding-left: 2rem;

    .story__reaction {
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 700 font-mono leading-relaxed;

      button,
      a.btn {
        display: flex;
        padding: 0.5rem 1rem;
        background: var(--sand-100);
        margin-right: 0.25rem;
        border-radius: 0.25rem;

        &:hover {
          background: var(--sand-300);
        }
      }

      svg {
        width: 1.25rem;
        height: 1.25rem;
        margin-right: 0.25rem;
      }

      span {
        margin-left: 0.25rem;
        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: 400;
      }
    }
  }
}

.story-show {
  .story__reaction {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700 font-mono leading-relaxed;

    button,
    a.btn {
      display: flex;
      padding: 0.5rem 1rem;
      background: var(--sand-100);
      margin-right: 0.25rem;
      border-radius: 0.25rem;

      &:hover {
        background: var(--sand-300);
      }
    }

    svg {
      width: 1.25rem;
      height: 1.25rem;
      margin-right: 0.25rem;
    }

    span {
      margin-left: 0.25rem;
      font-size: 0.75rem;
      line-height: 1rem;
      font-weight: 400;
    }
  }
}

.stories .story-show {
  position: absolute;
  background: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 1001;
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  height: 80vh;
  max-width: 960px;
  width: 80vw;
}

.stories .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}
