<p>Hej <%= @resource.email %>!</p>
<p>Någon har bett om en länk för att ändra ditt lösenord. För att ändra ditt lösenord är det bara följa länken här under.</p>
<p><%= link_to 'Ändra mitt lösenord', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>
  Om det inte var du som bad om denna länk, kan du ignorera detta mail</p>
<p>
  Ditt lösenord kommer inte att ändras förräns du har besökt länken här ovanför och skapat ett nytt.</p>
