<div class="py-6 bg-rough-100">
  <% @global_activities.each do |activity| %>
    <div class="flex flex-col pb-3 m-3 border-b activity border-golfsnack-200">
      <%= render_activity activity %>
    </div>
  <% end %>
</div>
