<h4 class="text-golfsnack-400">AKTIVITET</h4>
<% @activities.each do |activity| %>
  <div class="p-4 border-b border-golfsnack-200 bg-golfsnack-100">
    <%= render_activity activity %>
  </div>
<% end %>
