<header id="subheader" class="h-10">
  <nav class="bg-sand-200">
    <div class="px-2 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <div class="flex items-center justify-center flex-1 sm:items-stretch sm:justify-start">
          <div class="block sm:ml-6">
            <div class="flex">
              <a href="/premium" class="px-3 py-2 ml-4 text-sm font-medium leading-5 transition duration-150 ease-in-out text-wetsand-500 hover:text-sand-500 focus:outline-none focus:text-white focus:bg-fairway-700">Premium</a>
              <a href="/leaderboard" class="px-3 py-2 ml-4 text-sm font-medium leading-5 transition duration-150 ease-in-out text-wetsand-500 hover:text-sand-500 focus:outline-none focus:text-white focus:bg-fairway-700">Nyheter</a>
              <a href="/guider" class="px-3 py-2 ml-4 text-sm font-medium leading-5 transition duration-150 ease-in-out text-wetsand-500 hover:text-sand-500 focus:outline-none focus:text-white focus:bg-fairway-700">Statistik</a>
              <a href="/klubbar" class="px-3 py-2 ml-4 text-sm font-medium leading-5 transition duration-150 ease-in-out text-wetsand-500 hover:text-sand-500 focus:outline-none focus:text-white focus:bg-fairway-700">Forum</a>
              <a href="/store" class="px-3 py-2 ml-4 text-sm font-medium leading-5 transition duration-150 ease-in-out text-wetsand-500 hover:text-sand-500 focus:outline-none focus:text-white focus:bg-fairway-700">Bloggar</a>
              <a href="/store" class="px-3 py-2 ml-4 text-sm font-medium leading-5 transition duration-150 ease-in-out text-wetsand-500 hover:text-sand-500 focus:outline-none focus:text-white focus:bg-fairway-700">Market</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
