<div class="py-12">
  <h2 class="mb-2 text-lg font-semibold text-golfsnack-900">
    Dina blogginlägg
  </h2>
  <%= link_to "Nytt inlägg", new_post_path, class: "inline-flex items-center px-4 py-2 text-sm font-medium leading-5 text-golfsnack-700 transition duration-150 ease-in-out bg-white border border-golfsnack-300 hover:text-golfsnack-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:text-golfsnack-800 active:bg-golfsnack-50"%>
  <% @posts.each do |post| %>
    <div class="block w-full p-12 my-12 bg-white">
      <h2 class="mb-2 text-xl font-extrabold leading-snug text-golfsnack-800">
        <%= link_to post.title, post_path(post), class: "text-golfsnack-900 hover:text-purple-700" %>
      </h2>
      <p class="mb-3 text-sm font-normal text-golfsnack-600">
        <%= truncate(strip_tags(post.body.to_s), length: 500) %>
      </p>
      <%= link_to "Läs vidare", post_path(post), class: "btn btn-light btn-sm" %>
    </div>
  <% end %>
</div>
