<div class="py-12 max-w-screen-md mx-auto">
  <h2 class="mb-4 text-2xl font-semibold text-golfsnack-900">Om Golfsnack</h2>

<p class="mb-4">Grundat 2020 i Stockholm.</p>

<p class="mb-4">Golfsnack är en community skapad för golfare av golfare. Genom att samla allt på ett och samma ställe så skapar vi en miljö där golfare kan leva ut sin passion dagligen, året runt.</p>

<p class="mb-4">Golfsnack är platsen där du kan hitta guider, artiklar, vänner och andra härliga tjänster som får din golf att leva ut till fullo.</p>

<p class="mb-4">Golfsnack driver en s.k. ”freemium”-affärsmodell. Genom att prenumerera på vårat månatliga abonnemang Premium, kan våra medlemmar låsa upp flertalet tjänster och funktioner för att optimera sin uppelvelse.
Vi erbjuder också företag en unik räckvidd att nå den snabbt växande golfmarknaden med reklam och sponsrade tävlingar.</p>

<p class="mb-4">Golfsnack är under tillväxt av nya användare och verkar endast i Sverige för tillfället.</p>

<p class="mb-4">Kontakta oss: <a mailto="info@golfsnack.se">info@golfsnack.se</a></p>
</div>
