<div class="py-12 max-w-screen-md mx-auto">
  <h2 class="mb-4 text-2xl font-semibold text-golfsnack-900">
    Användaravtal
  </h2>
  <h4>Alla användare på Golfsnack har förbundit sig att följa detta användaravtal när de blev medlemmar.</h4>
  <h5 class="pt-12 pb-4">Detta får inte förekomma:</h5>
  <ul class="list-disc pb-4">
    <li>Rasism</li>
    <li>Nedlåtande kommentarer</li>
    <li>Personangrepp</li>
    <li>Irrelevanta kommentarer</li>
    <li>Spam</li>
    <li>Ovårdat språk</li>
    <li>Länkar till porr, warez eller annat oetiskt material som kan uppfattas som stötande</li>
  </ul>
  <p class="py-4">
    Golfsnack kan censurera, redigera och ta bort alla inlägg och all information som du för in på sidan. Du är fullt ansvarig för allt du publicerar på Golfsnack.
    Vid brott mot de uppsatta reglerna kan man utan förvarning stängas av från Golfsnack. Vad som är ett regelbrott är helt upp till Golfsnack och dess medarbetare att bedöma.
    Inaktiva konton kan komma att tas bort, modifieras eller överlåtas.
  </p>
  <p class="py-4">
    Bryter du mot de uppsatta reglerna kan ditt IP, Golf-ID och annan information om dig och ditt användande av Golfsnack komma att lämnas över till domstol eller myndighet.
  </p>
  <h4>Tekniska lösningar</h4>
  <p class="py-4">
    På Golfsnack strävar vi efter att våra tekniska tjänster ska vara så säkra som möjligt, samt fria från fel eller spam. Dock är det ingenting vi kan garantera, och kan inte ställas till svars för
    eventuell skada på dator eller annat som material på Golfsnack kan ge upphov till.
  </p>
  <h4>Dina personuppgifter</h4>
  <p class="py-4">
    När du skapar ett konto på Golfsnack behöver du fylla i din mejladress, samt ditt användarnamn.
    Du kan också frivilligt fylla i kompletterande uppgifter som mer information om dig, eller ladda upp en profilbild. Dessa uppgifter kommer vi att spara.
  </p>
  <p class="py-4">
    Den frivilliga informationen kan du själv gå in och ta bort. Vill du att vi ska ta bort din mejladress och användarnamn ur systemet, behöver du kontakta oss på support [at] golfsnack.se
    Borttagande av dessa uppgifter kommer att medföra att ditt konto försvinner permanent från sajten. Kontakta oss på samma adress, om du har frågor gällande vilka uppgifter vi har om dig.
  </p>
  <p class="py-4">
    På Golfsnack sparar vi även ditt IP-nummer, till exempel när du kommenterar eller i samband med att du loggar in. Denna information använder vi som underlag i produktutveckling, så att vi kan skapa en
    ännu bättre användarupplevelse för dig. Våra moderator kan också komma att ta del av denna information, för att skapa en så säker och spamfri upplevelse som möjligt i communityt.
  </p>
  <p class="py-4">
    Vi lämnar aldrig ut din information som du uppger i samband med ditt medlemskap – mejladress, namn osv – till tredje part, utan din tillåtelse. Undantag är polisutredningar eller förfrågningar från myndigheter.
  </p>
  <p class="py-4">
    Tänk på att all information du fyller i på ditt konto, kan komma att visas publikt på sajten.
  </p>
  <h4>Cookies</h4>
  <p class="py-4">På Golfsnack.se använder vi cookies, och kan komma att spara information om dig – till exempel för att kunna skapa en bättre användar- och annonsupplevelse.</p>
  <h4>Om avtalet</h4>
  <p class="py-4">
    Genom att nyttja ditt användarkonto går du med på det som står i det här avtalet.
    Avtalet kan komma att ändras, och du ansvarar själv för att hålla dig underrättad med vad som står i avtalet.
    Om du inte vill förbinda dig att följa avtalet längre kan du skicka ett mail till support [at] golfsnack.se och ange att du vill avsluta ditt medlemskap med anledning av användaravtalet.
  </p>
</div>
